<h1>Blog Central!</h1>
{{#if isAuthenticated}}
<div class="form-group">
  <a href="/blog/new"><button type="submit" class="btn btn-btn-success btn-small">New Article</button></a><br />
</div>
{{/if}}
<div class="col-xs-10 pre-scrollable" position:"left"; style="border: 1px solid #e1e1e8;">
 <table  cellspacing="0"  >
      <thead>
        <tr><th width="60%">Subject</th><th>Author</th><th>Date</th></tr>
      </thead>
      <tbody>
      {{#each sadtable}}
      <tr><td width="60%"><a href="{{subjloc}}">{{subjsubj}}</a></td><td width="20%"><a href="{{authloc}}">{{name}}</a></td><td>{{date}}</td></tr>
      {{/each}}
      </tbody>

 </table>
</div>
