<h1>{{formtitle}}</h1>
<hr>
<div class="blog-post col-xs-9">
              <form method="post" action="/bookmark"  role="form" class="form-horizontal">
                <input type="hidden" name="locator" value="{{locator}}">
                <input type="hidden" name="url" value="{{url}}">
      <p class="blog-post-meta"> 
      </p>
                <div class="form-group">
               <img src="/images/bookmark.png"> <label>Bookmark</label>
      <h4>URL: {{url}}</h4>
               </div>
                <div class="form-group">
                  <label for="title" class="col-sm-2 control-label">Title</label>
                  <div class="col-sm-10">
                    <input id="title" type="text" name="title" value="{{title}}" placeholder="Enter the title" class="form-control">
                  </div>
               </div>
               <div class="form-group">
               <img src="/images/ibis/position.png"> <label>Conversation Node</label>
               </div>
               <div class="form-group">
                  <label for="subject" class="col-sm-2 control-label">Subject</label>
                  <div class="col-sm-10">
                    <input id="subject" type="text" name="subject" value="{{subject}}" placeholder="Enter the subject" class="form-control">
                  </div>
               </div>
               <div class="form-group">
                  <label for="desc" class="col-sm-2 control-label">Annotation</label>
                  <div class="col-sm-10">
                    <textarea id="summernote" rows="5" name="body" placeholder="Enter the bookmark annotation" class="form-control">{{body}}</textarea>
                  </div>
                </div>
                {{#if isNotEdit}}
	<div class="form-group">
	 <label for="title" class="col-sm-2 control-label">Tag Label</label>
	 <div class="col-sm-4">
	  <input type="text" name="tag1" placeholder="Enter a tag label" class="form-control">
	  </div>
	</div>
	<div class="form-group">
	 <label for="title" class="col-sm-2 control-label">Tag Label</label>
	 <div class="col-sm-4">
	  <input type="text" name="tag2" placeholder="Enter a tag label" class="form-control">
	  </div>
	</div>
	<div class="form-group">
	 <label for="title" class="col-sm-2 control-label">Tag Label</label>
	 <div class="col-sm-4">
	  <input type="text" name="tag3" placeholder="Enter a tag label" class="form-control">
	  </div>
	</div>
	<div class="form-group">
	 <label for="title" class="col-sm-2 control-label">Tag Label</label>
	 <div class="col-sm-4">
	  <input type="text" name="tag4" placeholder="Enter a tag label" class="form-control">
	  </div>
	</div>
 
                {{/if}}
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Save</button>&nbsp;<a href="/" title="cancel" class="btn">Cancel</a>
                  </div>
                </div>
              </form>
</div>
<!-- show the page -->
<iframe src="{{url}}" height="400px" width="800px"></iframe>
