<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#topic">Topic</a></li>
  <li><a data-toggle="tab" href="#list">List View</a></li>
  <li><a data-toggle="tab" title="Conversations in which I am the parent node" href="#pconv">P-Conversation</a></li>
  <li><a data-toggle="tab" title="Conversations in which I am a child node" href="#cconv">C-Conversation</a></li>
  <li><a data-toggle="tab" href="#relations">Relations</a></li>
  <li><a data-toggle="tab" href="#source">Source</a></li>
</ul>

<div class="tab-content">
  <div id="topic" class="tab-pane fade in active">
   <div class="blog-post col-xs-7">
    <h2 class="blog-post-title"><img src="{{image}}">{{title}}</h2>
    <p class="blog-post-meta"> 
    {{#if user}}
      {{date}} <a href="/user/{{user}}">{{user}}</a>
    {{/if}}
    {{#if canEdit}}
    <a href="{{editLocator}}"><b>Edit</b></a>
    {{/if}}
    {{#if url}}
      <br/><a href="{{url}}"><b>URL: {{url}}</b></a>
    {{/if}}     
    </p>
  {{#if transcludeLocator}}
    <form method="post" action="/conversation/transclude"  role="form" class="form-horizontal">
                <input type="hidden" name="transcludeLocator" value={{transcludeLocator}}>
                <input type="hidden" name="myLocator" value={{myLocator}}>
                <input type="hidden" name="contextLocator" value={{contextLocator}}>
    
                  <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Transclude Chosen Node</button>
                  </div>
                </div>
    </form>
    <p></p>
    <hr>
  {{/if}}
    <textarea  rows="5" name="body" class="form-control topicnote"> {{ body }}</textarea>
  {{#if isAuthenticated}}
   <h2>Respond with these options...</h2>
   <table width="100%">
    <tbody>
     <tr>
      <td><center><a title="New Map: conversation branch" href="/conversation/newMap/{{myLocator}}?contextLocator={{contextLocator}}"><img src="/images/ibis/map.png"></a></center</td>
      <td><center><a title="New Question/Issue" href="/conversation/newIssue/{{myLocator}}?contextLocator={{contextLocator}}"><img src="/images/ibis/issue.png"></a></center</td>
      <td><center><a title="New Answer/Position" href="/conversation/newPosition/{{myLocator}}?contextLocator={{contextLocator}}"><img src="/images/ibis/position.png"></a></center</td>
      <td><center><a title="New Pro Argument" href="/conversation/newPro/{{myLocator}}?contextLocator={{contextLocator}}"><img src="/images/ibis/plus.png"></a></center</td>
      <td><center><a title="New Con Argument" href="/conversation/newCon/{{myLocator}}?contextLocator={{contextLocator}}"><img src="/images/ibis/minus.png"></a></center</td>
     </tr>
    </tbody>
   </table>
  {{/if}}
   
   </div>

 <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    {{#if tags}}
      <h4>Tags</h4>
    <div class="sidebar-module pre-scrollable">
      <ol class="list-unstyled">
       {{#each tags}}
         <li><a href="/tag/{{locator}}"><img src="{{icon}}"> {{label}}</a></li>
       {{/each}}
      </ol>
      </textarea>
    </div>
    {{/if}}
    {{#if users}}
      <h4>Users</h4>
    <div class="sidebar-module pre-scrollable">
      <ol class="list-unstyled">
       {{#each users}}
         <li><a href="/user/{{locator}}"><img src="{{icon}}"> {{label}}</a></li>
       {{/each}}
      </ol>
      </textarea>
    </div>
    {{/if}}
    {{#if docs}}
      <h4>Documents</h4>
    <div class="sidebar-module pre-scrollable">
      <ol class="list-unstyled">
       {{#each docs}}
         <li><a href="/blog/{{locator}}"><img src="{{icon}}"> {{label}}</a></li>
       {{/each}}
      </ol>
      </textarea>
    </div>
    {{/if}}
  </div>
 </div>
 </div> <!-- /topic -->
 
 <div id="list" class="tab-pane fade">
   <div class="blog-post col-xs-7">
    <h2 class="blog-post-title"><img src="{{image}}">{{title}}</h2>
    <p class="blog-post-meta"> {{date}} <a href="/user/{{user}}">{{user}}</a></p>
    <textarea  rows="5" name="body" class="form-control topicnote"> {{ body }}</textarea>
    {{#if tags}}
      <h4>Tags</h4>
    <div class="sidebar-module pre-scrollable">
      <ol class="list-unstyled">
       {{#each tags}}
         <li><a href="/tag/{{locator}}"><img src="{{icon}}"> {{label}}</a></li>
       {{/each}}
      </ol>
      </textarea>
    </div>
    {{/if}}
    {{#if users}}
      <h4>Users</h4>
    <div class="sidebar-module pre-scrollable">
      <ol class="list-unstyled">
       {{#each users}}
         <li><a href="/user/{{locator}}"><img src="{{icon}}"> {{label}}</a></li>
       {{/each}}
      </ol>
      </textarea>
    </div>
    {{/if}}
    {{#if docs}}
      <h4>Documents</h4>
    <div class="sidebar-module pre-scrollable">
      <ol class="list-unstyled">
       {{#each docs}}
         <li><a href="/blog/{{locator}}"><img src="{{icon}}"> {{label}}</a></li>
       {{/each}}
      </ol>
      </textarea>
    </div>
    {{/if}}
   </div>
 </div> <!-- /list -->
  <div id="cconv" class="tab-pane fade">
      <table id="cconnodetable" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  
 </div> <!-- /cconv -->
 <div id="pconv" class="tab-pane fade">
      <table id="connodetable" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  
 </div> <!-- /pconv -->
 
 <div id="source" class="tab-pane fade">
  <pre>{{source}}</pre>
 </div>
 <div id="relations" class="tab-pane fade">
 <h1>Relations</h1>
 </div> <!-- /relations -->
 </div>