
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#landing">IssueCentral Home</a></li>
  <li><a data-toggle="tab" href="#issues">Topics</a></li>
  <li><a data-toggle="tab" href="#quests">Issues</a></li>
  <li><a data-toggle="tab" href="#guilds">Guilds</a></li>
</ul>
 <!-- ViewFirst data -->
<div class="vfpage" query="{{query}}" language="{{language}}" type="{{type}}" contextLocator="{{contextLocator}}" locator="{{locator}} rootLocator="{{rootLocator}}"></div>
<div class="tab-content">
  <div id="landing" class="tab-pane fade in active">
   <div id="row">
   <div class="home col-xs-7 col-sm-7">
    <h1 class="text-info">GetTheIssues</h1>
    {{#if canEdit}} <!-- what is this for? -->
    <form method="post" action="/issue"  role="form" class="form-horizontal">
    </form>
    {{/if}}
    <div class="gtilanding" height="400px">This is where GetTheIssues Landing content will go. It is anticipated to cover a full explanation of the GTI platform.
      <br/><br/>This text will disappear after an <i>admin</i> edits it to suit the particular needs.<br/>
      <br/>Of course, it's always possible that nobody will get around to editing this, so know this:<br/>
      <b>GTI</b> is a <i>Role-playing Game Environment</i> in which <i>Guilds</i> form to go on <i>Quests</i> which are organized around particular <i>Issues</i>.
    </div>    
   </div> <!-- /col 7 -->
   <div class="col-xs-4 col-sm-4 ">
    <h4>Recent Topics</h4>
    <div class="sidebar-module pre-scrollable" style="border: 1px solid #e1e1e8;">
      <ol class="list-unstyled">
       {{#each issues}}
         <li><a href="/blog/{{locator}}">{{label}}</a></li>
       {{/each}}
      </ol>
    </div><br/>
    <h4>Recent Quests</h4>
    <div class="sidebar-module pre-scrollable" style="border: 1px solid #e1e1e8;">
      <ol class="list-unstyled">
       {{#each quests}}
         <li><a href="/blog/{{locator}}">{{label}}</a></li>
       {{/each}}
      </ol>
    </div><br/>
  	<h4>Recent Guilds</h4>
    <div class="sidebar-module pre-scrollable" style="border: 1px solid #e1e1e8;">
      <ol class="list-unstyled">
       {{#each guilds}}
         <li><a href="/blog/{{locator}}">{{label}}</a></li>
       {{/each}}
      </ol>
    </div><br/>
    <h4>Leaderboard</h4>
    <div class="sidebar-module pre-scrollable" style="border: 1px solid #e1e1e8;">
      <ol class="list-unstyled">
       {{#each leaders}}
         <li><a href="/blog/{{locator}}">{{label}}</a></li>
       {{/each}}
      </ol>
     </div>
    </div> <!-- /col 4 -->
    </div> <!-- /row -->
  </div> <!-- /landing -->
  
  <div id="issues" class="tab-pane fade">
   <div class="row">
   <h1>Topics For Quests</h1>
   {{#if isAuthenticated}}
	<div class="form-group">
  	<a href="/issue/new"><button type="submit" class="btn btn-btn-success btn-small">New Topic</button></a><br />
	</div>
   {{/if}}
               
   <div id="issuetabledata" query="{{issuequery}}" start="{{issuestart}}" count="{{issuecount}}" total="{{issuetotal}}"></div>
   <div class="col-xs-12 pre-scrollable" position:"left"; style="border: 1px solid #e1e1e8;">
  	 <div id="issuetableindex"></div>
   </div>
   <div class="col-xs-12" position:"left">
    <div id="issuepagination"></div>
   </div> 
  </div> <!-- /row-->
  </div> <!-- /issues -->
  
  <div id="quests" class="tab-pane fade">
   <div class="row">
    <h1>Where Quests Live</h1>
    <h2>Actually, Quests emerge based on specific issues; this is just where we aggregate all quests</h2>
    <div id="questtabledata" query="{{questquery}}" start="{{queststart}}" count="{{questcount}}" total="{{questtotal}}"></div>
    <div class="col-xs-12 pre-scrollable" position:"left"; style="border: 1px solid #e1e1e8;">
  	 <div id="questtableindex"></div>
    </div>
    <div class="col-xs-12" position:"left">
     <div id="questpagination"></div>
    </div> 
   </div> <!-- /row -->
  </div> <!-- /quests -->
   
   <div id="guilds" class="tab-pane fade">
    <div class="row">
     <h1>Where Guilds Live</h1>
   {{#if isAuthenticated}}
	<div class="form-group">
  	<a href="/guild/new"><button type="submit" class="btn btn-btn-success btn-small">New Guild</button></a><br />
	</div>
   {{/if}}
     <div id="guildtabledata" query="{{guildquery}}" start="{{guildstart}}" count="{{guildcount}}" total="{{guildtotal}}"></div>
	 <div class="col-xs-12 pre-scrollable" position:"left"; style="border: 1px solid #e1e1e8;">
  	  <div id="guildtableindex"></div>
	 </div>
    <div class="col-xs-12" position:"left">
     <div id="guildpagination"></div>
    </div> 
   </div> <!-- /row -->
  </div> <!-- /guilds -->
</div> <!-- tab-content -->