<h1>List Users To Perform Stuff On</h1>
<div class="col-xs-11" position:"left";>
 <form id="credentialform" action="/selectuser" method="get">
  <div class="form-group">
   <label>Email for Selected User To Edit Credentials</label>
   <input type="text" class="form-control" name="email">
  </div>
  <button type="submit" class="btn btn-warning btn-lg">Edit Credentials</button>
 </form> <br/><hr>
 <form id="removeform" action="/removeuser" method="get">
  <div class="form-group">
   <label class="text-danger">Email for Selected User To Remove From The Database</label>
   <input type="text" class="form-control" name="email">
  </div>
  <button type="submit" class="btn btn-warning btn-lg">RemoveUser</button>
 </form> <br/><hr>
 
<div class="col-xs-11 pre-scrollable" position:"left"; style="border: 1px solid #e1e1e8;">
 <table  cellspacing="0" width="100%" >
      <thead>
        <tr><th>Email</th><th>Handle</th><th>Full Name</th><th>Credentials</th></tr>
      </thead>
      <tbody>
      {{#each usrtable}}
      <tr><td><a href="/user/{{handle}}">{{email}}</a></td><td>{{handle}}</td><td>{{name}}</td><td>{{credentials}}</td></tr>
      {{/each}}
      </tbody>

 </table>

</div>
