<h1><img src="/images/tag.png"> Tag</h1>
<div>
 <h2>{{title}}<br/>
 {{#each document}} {{{we have to know the document type: could be user, blog, etc}}}
  <h4><a href="/{{type}}/{{ locator }}"> {{ label }}</a></h4>
 {{/each}}

</div>