<h1>Tag Central!</h1>
<div class="col-xs-10 pre-scrollable" position:"left"; style="border: 1px solid #e1e1e8;">
 <table  cellspacing="0"  >
      <thead>
        <tr><th width="60%">Subject</th><th>Author</th><th>Date</th></tr>
      </thead>
      <tbody>
      {{#each sadtable}}
      <tr><td width="60%"><a href="{{subjloc}}">{{subjsubj}}</a></td><td width="20%"><a href="{{authloc}}">{{name}}</a></td><td>{{date}}</td></tr>
      {{/each}}
      </tbody>

 </table>
</div>
