<h1>Wiki Central!!</h1>
<div class="col-xs-10 pre-scrollable" position:"left"; style="border: 1px solid #e1e1e8;">
  {{#if isAuthenticated}}
  <form id="newtopic" action="/newtopic" method="post">
    <div class="form-group">
      <label>Topic Title for a New Wiki Topic</label>
      <input type="text" class="form-control" name="title">
    </div>

    <button type="submit" class="btn btn-warning btn-lg">Submit</button>
  </form><br/><hr>
  {{/if}}
 <table  cellspacing="2"  >
      <thead>
        <tr><th width="60%">Subject</th><th>Author</th><th>Date</th></tr>
      </thead>
      <tbody>
      {{#each sadtable}}
      <tr><td width="60%"><a href="{{subjloc}}">{{subjsubj}}</a></td><td width="20%"><a href="{{authloc}}">{{name}}</a></td><td>{{date}}</td></tr>
      {{/each}}
      </tbody>

 </table>
</div>
